.hero-image {
    background-image: url("/src/images/backgroundImg.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.stats {
    margin-top: 3px;
    padding: 0 20px;
    display: flex;
    width: auto;
    height: 150px;
    background-color: #EDD382;
    font-size: 1.6rem;
}

.popular-receipes{
    padding: 0 20px;
    flex-grow: 1;
    height: 80%;
    margin: auto;
}

.Contries-cities{
    padding: 0 20px;
    height: 80%;
    margin: auto;
    border-left: #f4872e 5px solid;
    flex-grow: 1;
}

.chefs{
    padding: 0 20px;
    flex-grow: 1;
    height: 80%;
    margin: auto;
    border-left: #f47d2e 5px solid;
    border-right: #f4872e 5px solid;
}

.active-contributors{
    padding: 0 20px; 
    flex-grow: 1;
    height: 80%;
    margin: auto;
}